@using TravelTripProject.Models.Classes
@model List<Blog>
<div class="padding">
	<h4>Top 10 Blog</h4>
	<ul class="list list-pad">
		@{ int i = 0;}
		@foreach (var x in Model)
		{
			string title = x.Title;			//20den uzunsa 35 karakter yazıp sonrasına ... koydurduk. eğer 35den küçükse hata verdiği için önce 9. satırda title değişkenine
											//@x.title ıatadık, sonrasında if bloğu ile 35den uzun ise 35 karakterini yazdırıp ... koydurduk, 35 karakterden kısa ise direkt
											//title değişkenini yazdırdık.
			if (title.Length > 35)              
												
			{
				title = title.Substring(0, 35) + "...";
			}
			<li class="list-bg"><span>@{ i++;}@i.</span><a href="/blog/blogdetail/@x.ID">@title</a></li>
		}
	</ul>

     
	<a href="/blog/index" class="link1">See all blogs</a>
</div>
