@using TravelTripProject.Models.Classes
@model List<Blog>
<div class="padding1">
    <h4>Our Best Places</h4>
    <div class="box-left">
        @foreach (var x in Model)
        {
            string description = x.Description;
            if (description.Length > 80)              
									
            {
	            description = description.Substring(0, 80) + "...";
            }

            <a href="/blog/blogdetail/@x.ID">
                <div class="bot-img">
                    <img src="@x.BlogImage" style="width:120px; height:80px;" alt="" />
                </div>
                <div class="bot-desc">

	                <p>@description</p>
                </div>
                <div class="clear"></div>
            </a>
        }
    </div>
    @Html.Action("Partial4_2","Default")
</div>