<div class="con-bot">
	<div class="left">
		<div class="bot-left">
			<img src="~/web/images/pic.jpg" alt=""/>
		</div>
		<div class="left-text">
			<h4>Buraya içerik yazılacak</h4>
			<span class="doller">$1024.99</span>
			<p>Buraya içerik yazılacak</p>
			<p><a href="#"><span class="read">Read More >></span></a></p>
		</div>
	</div>
	<div class="left">
		<div class="bot-left">
			<img src="~/web/images/pic1.jpg" alt=""/>
		</div>
		<div class="left-text">
			<h4>buraya içerik girilecek</h4>
			<span class="doller">$900.99</span>
			<p>buraya içerik girilecek</p>
			<p><a href="#"><span class="read">Read More >></span></a></p>
		</div>
	</div>
	<div class="right">
		<div class="bot-left">
			<img src="~/web/images/pic2.jpg" alt="" />
		</div>
		<div class="left-text">
			<h4>buraya içerik girilecek</h4>
			<span class="doller">$924.99</span>
			<p>buraya içerik girilecek</p>
			<p><a href="#"><span class="read">Read More >></span></a></p>
		</div>
	</div>
</div>