@using TravelTripProject.Models.Classes
@model List<Comments>
@{
    ViewBag.Title = "CommentList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Comment List</h2>

<table class=" table table-bordered">
    <tr>
        <th>ID</th>
        <th>USERNAME</th>
        <th>MAIL</th>
        <th style="width:30%">COMMENT</th>
        <th>BLOG</th>
        <th style="width: 100px; text-align: center;">DELETE</th>
        <th style="width: 100px; text-align: center;">EDIT</th>
    </tr>
    @foreach (var x in Model)
    {
	    
        
        


        <tr>
            <td>@x.ID</td>
            <td>@x.Username</td>
            <td>@x.Mail</td>
            <td>@{
	                string commentsub = x.Comment;
	                if (commentsub.Length > 85)

	                {
		                commentsub = commentsub.Substring(0, 85) + "...";
	                }
                }@commentsub</td>
            <td>@x.Blog.Title</td>
            <td style="text-align: center;">
                <div style="display: inline-block;">
                    <a href="/admin/deletecomment/@x.ID/" class="btn btn-warning">DELETE</a>
                </div>
            </td>
            <td style="text-align: center;">
                <div style="display: inline-block;">
                    <a href="/admin/getcomment/@x.ID/" class="btn btn-success">EDIT</a>
                </div>
            </td>
        </tr>
    }


</table>

