@using TravelTripProject.Models.Classes
@model List<Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Blog List</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th style="">TITLE</th>
        <th style="width: 100px; text-align: center;">DELETE</th>
        <th style="width: 100px; text-align: center;">UPDATE</th>
        <th style="width: 100px; text-align: center;">DETAILS</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.Title</td>
            <td style="text-align: center;">
                <div style="display: inline-block;">
                    <a href="/admin/deleteblog/@x.ID" class="btn btn-danger">Delete</a>
                </div>
            </td>
            <td style="text-align: center;">
                <div style="display: inline-block;">
                    <a href="#" class="btn btn-success">Update</a>
                </div>
            </td>
            <td style="text-align: center;">
                <div style="display: inline-block;">
                    <a href="/blog/blogdetail/@x.ID" class="btn btn-info">Details</a>
                </div>
            </td>

        </tr>
    }
</table>
<a href="/admin/newblog/" class="btn btn-primary">New Blog</a>

